/*@charset "utf-8";*/
/* CSS Document */


body {
	font-family: Helvetica Neue, arial, sans-serif;
	background-color: #FFFFFF;
	width: 594px;
	text-align: left;
	}


div {
	font-size: 12px;
	color: #000;
	margin: 0 0 1em 0;
	padding: 0 20px 0px 28px;
	}



p {
	font-size: 12px;
	line-height: 15px;
	color: #000;
	margin: 0 0 1em 0;
	}

	
}

h1 {
	font-size: 20px;
	color: #008469;
	margin: 15px 0px 10px 0px;
	}
	
h3 {
	font-size: 16px;
	color: #675C53;
	margin: 15px 0px 10px 0px;
	}

h5 {
	font-size: 14px;
	line-height: 15px;
	color: #675C53;
	font-weight: bold;
	margin: 1em 0 .5em 0;
	}
	

h5.halfEm {
	font-size: 14px;
	line-height: 15px;
	color: #675C53;
	font-weight: bold;
	margin: 1em 0 .25em 0;
	}
	

ol {
	font-size: 12px;
	color: #000;
	margin-bottom: 1em;
	margin-left: 25px;
	/*margin: 0 0 1em 0;*/
	}

li {
	font-size: 12px;
	line-height: 15px;
	color: #000;
	margin: 0 0 0 10px;
	padding-left: 0px;
	}

ul {
	font-size: 12px;
	color: #000;
	margin: 0 0 1em 15px;
	list-style-type: disc;
	}
	
a 
{
	color: #008469;
}

a:hover
{
	color: #ffffff;
	background-color: #555555;
}
	
.subtable td {
	font-size: 11px;
	line-height: 15px;
	color: #000;
	margin: 0 0 1em 0;
	padding: 0 12px 0px 10px;
	border: 1px solid black;
	}
	
.subtable th {
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	color: #000;
	margin: 0 0 1em 0;
	padding: 0 12px 0px 10px;
	border: 1px solid black;
	}
	
table {
	border-collapse: collapse;
	}
	
p.footer {
	font-size: 9px;
	line-height: 11px;
	color: #666;
	padding-left: 28px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-right: 28;
	padding-bottom: 0;
	}
	
.tablebar{
	color: #FFFFFF;
	font-weight: bold;
	font-size:14px;
	valign:center;
}

.urTxtStd {
	font-size: 12px;
	line-height: 15px;
	color: #000;
	margin: 0 0 1em 0;
}