BODY
{
    BACKGROUND-COLOR: #ffffff;
    BACKGROUND-IMAGE: url(/images/subp_fade.gif);
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
}
A:link
{
    COLOR: #336699
}
A:active
{
    COLOR: #336699
}
A:visited
{
    COLOR:#888888
}
A:hover
{
    COLOR: #336699
}
P
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt;
}
UL
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
OL
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
LI
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
TD
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 10pt
}
H1
{
    BORDER-BOTTOM: maroon 1pt solid;
    BORDER-LEFT: black;
    BORDER-RIGHT: black;
    BORDER-TOP: #33ffff;
    FILTER: Xray;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 20pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
H2
{
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold
}
H3
{
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left
}
H4
{
    BORDER-BOTTOM: maroon 1px solid;
    BORDER-LEFT: black 0px solid;
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    COLOR: #336699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0pt
}
.menu
{
    COLOR: #ffffff;
    FONT-SIZE: 7.1pt
}
.menu A:link
{
    COLOR: #ffffff;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.menu A:active
{
    COLOR: #111111;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.menu A:visited
{
    COLOR: #ffffff;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.menu A:hover
{
    COLOR: #ccccdd;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.menu TD
{
    COLOR: #ffffff;
    FONT-SIZE: 7.1pt
}
.black
{
    COLOR: #000000;
    FONT-WEIGHT: bold
}
.black A:link
{
    COLOR: #000000;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline
}
.black A:active
{
    COLOR: #000000
}
.black A:visited
{
    COLOR: #000000;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline
}
.black A:hover
{
    COLOR: #444444;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline
}
.drawers
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: center
}
.drawers TD
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: center
}
.drawers A:link
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.drawers A:active
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.drawers A:visited
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.drawers A:hover
{
    COLOR: #eeeeee;
    FONT-SIZE: 9pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.channel
{
    COLOR: #ffffff;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: middle
}
.cd
{
    COLOR: #ffffff;
    FONT-SIZE: 7.5pt;
    HEIGHT: 42px;
    POSITION: absolute;
    VISIBILITY: visible;
    WIDTH: 43px;
    Z-INDEX: 1
}
.bigblue
{
    COLOR: #334ba4;
    FONT-SIZE: 12pt
}
.bigblue A:link
{
    COLOR: #334ba4;
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
.bigblue A:active
{
    COLOR: #334ba4;
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
.bigblue A:visited
{
    COLOR: #334ba4;
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
.bigblue A:hover
{
    COLOR: #334ba4;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bolder;
    TEXT-DECORATION: none
}
.cdtext
{
    COLOR: #ffffff;
    FONT-SIZE: 7.1pt;
    HEIGHT: 30px;
    POSITION: absolute;
    TEXT-ALIGN: center;
    VISIBILITY: visible;
    WIDTH: 58px
}
.cdtext A:link
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.cdtext A:active
{
    COLOR: #111111;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.cdtext A:visited
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.cdtext A:hover
{
    COLOR: #ccccdd;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 7.1pt;
    TEXT-DECORATION: none
}
.timesital
{
    FONT-FAMILY: "Times New Roman", Times, serif;
    FONT-SIZE: larger;
    FONT-STYLE: italic;
    LINE-HEIGHT: 6pt
}
#products
{
    LEFT: -10px;
    POSITION: relative;
    TOP: -5px;
    VISIBILITY: visible;
    Z-INDEX: 5
}
#apphosting
{
    LEFT: -15px;
    POSITION: relative;
    TOP: -3px;
    VISIBILITY: visible;
    Z-INDEX: 5
}
#toolkit
{
    LEFT: -15px;
    POSITION: relative;
    TOP: -3px;
    VISIBILITY: visible;
    Z-INDEX: 5
}
A.menu
{
    COLOR: #000000;
    TEXT-DECORATION: none
}
#menuText
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,courier,times;
    FONT-SIZE: 12px
}
.divider
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: 600
}

.divider TD
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: 600
}
.divider HREF
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: 600
}

.textarea {
	BACKGROUND: #e0e0e0; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: black; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 10px; LETTER-SPACING: 1pt; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none; WIDTH: 100px; height: 14px; WORD-SPACING: 2pt
}
.textareaover {
	BACKGROUND: #719fc1; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; COLOR: black; FONT-FAMILY: Arial, Verdana, Sans-serif; FONT-SIZE: 10px; LETTER-SPACING: 1pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px; TEXT-DECORATION: none; WIDTH: 100px; height: 14px; WORD-SPACING: 2pt
}.toplink {  font-weight: bold; color: #006699; text-decoration: none}
